<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="main.css"></link>
    <link rel="stylesheet" href="css/font-awesome.css"></link>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="timeslot-picker-ctrl.js">
    </script>
</head>

<body>
    <h2>Angular-timeslot-picker directive</h2>
    <div data-ng-app="paysafe-assignment">
        <div ng-controller="timeslot-pickerCtrl" style="text-align: center;">
            <div id="date-navigation">
                <i class="fa fa-arrow-left" aria-hidden="true" ng-click="shiftDateLeft()"></i>
                <div id="date">{{date}}</div>
                <i class="fa fa-arrow-right" aria-hidden="true" ng-click="shiftDateRight()"></i></div>
            <div class="cn-wrapper" style="border-radius: 50%;">
                <ul>
                    <li ng-repeat="t in timeselection" class="li{{$index+1}}" style="left: 50%; top: 50%; margin-top: -1.3em; margin-left: -10em; overflow: hidden;">
                        <a class="{{t.status}}" ng-click="bookSlot($index)" style="transform: skew(-50deg) rotate(-70deg) scale(1); border-radius: 50%; text-align: center; padding-top: 2em;">
                            <span class="span{{$index+1}}">{{($index+1)}}</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="legend">
                <div>
                    <div class="available img"></div>Available</div>
                <div>
                    <div class="reserved img"></div>Reserved</div>
                <div>
                    <div class="unavailable img"></div>Unavailable</div>
            </div>
            <div id="ampm-bar">
                <div class="ampm" style="left: -236px;" ng-class="{'selected':amSlotSelected}" ng-click="toggleTime('am')">AM</div>
                <div class="ampm" style="left: 68px;z-index: 10000;" ng-click="toggleTime('pm')" ng-class="{'selected':!amSlotSelected}">PM</div>
                <div id="confirmslotbtn">
                    <button ng-click="confirmSlot()">Book Slot</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>