 #date-navigation {
     position: fixed;
     left: 30%;
     top: 30px;
     padding: 0 0 0 200px;
     z-index: 10000;
 }
 
 #confirmslotbtn {
     font-size: 16px;
     width: 85px;
     position: absolute;
     top: 24px;
     left: -5px;
 }
 
 #date {
     display: inline;
     padding: 0 10px;
 }
 
 .img.available,
 .reserved.img,
 .unavailable.img {
     width: 10px;
     height: 10px;
     display: inline-block;
     margin: 0 5px;
 }
 
 #legend {
     position: absolute;
     top: 129px;
     font-size: 18px;
     left: 20%;
 }
 
 button {
     margin: 6px 0;
     font-size: 18px;
 }
 
 .available {
     background-color: greenyellow;
 }
 
 .unavailable {
     background-color: grey;
 }
 
 .reserved {
     background-color: red;
 }
 
 .selected {
     background-color: blue !important;
 }
 
 .dab {
     display: none;
 }
 
 .li1 {
     transform: rotate(-10deg) skew(50deg);
 }
 
 .li2 {
     transform: rotate(20deg) skew(50deg);
 }
 
 .li3 {
     transform: rotate(50deg) skew(50deg);
 }
 
 .li4 {
     transform: rotate(80deg) skew(50deg);
 }
 
 .li5 {
     transform: rotate(110deg) skew(50deg);
 }
 
 .li6 {
     transform: rotate(140deg) skew(50deg);
 }
 
 .li7 {
     transform: rotate(170deg) skew(50deg);
 }
 
 .li8 {
     transform: rotate(200deg) skew(50deg);
 }
 
 .li9 {
     transform: rotate(230deg) skew(50deg);
 }
 
 .li10 {
     transform: rotate(260deg) skew(50deg);
 }
 
 .li11 {
     transform: rotate(290deg) skew(50deg);
 }
 
 .li12 {
     transform: rotate(320deg) skew(50deg);
 }
 
 .span1 {
     transform: rotate(-25deg);
 }
 
 .span2 {
     transform: rotate(-57deg);
 }
 
 .span3 {
     transform: rotate(-84deg);
 }
 
 .span4 {
     transform: rotate(244deg);
 }
 
 .span5 {
     transform: rotate(211deg);
 }
 
 .span6 {
     transform: rotate(182deg);
 }
 
 .span7 {
     transform: rotate(156deg);
 }
 
 .span8 {
     transform: rotate(121deg);
 }
 
 .span9 {
     transform: rotate(93deg);
 }
 
 .span10 {
     transform: rotate(64deg);
 }
 
 .span11 {
     transform: rotate(32deg);
 }
 
 #ampm-bar {
     position: absolute;
     top: 367px;
     font-size: 18px;
     right: 52%;
     z-index: 10000;
 }
 
 .ampm {
     position: absolute;
     padding: 5px;
     margin: 0 80px;
     display: inline-table;
     height: 30px;
     width: 30px;
     background-color: cadetblue;
     border-radius: 30px;
     color: white;
 }
 
 * {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     list-style: none;
     position: relative
 }
 
 html,
 body {
     height: 100%
 }
 
 body {
     border: 1px solid transparent;
     font: 300 1em "Source Sans Pro", sans-serif;
 }
 
 body #cdawrap {
     background: #f9f9f9;
     top: 55px;
 }
 
 a {
     text-decoration: none;
 }
 
 .back {
     text-decoration: none;
     color: #888;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 70%;
     letter-spacing: 1px;
     display: inline-block;
     margin-left: 30px;
 }
 
 p {
     margin-bottom: 10px
 }
 
 .cn-wrapper {
     transform: rotate(105deg);
     top: 90px;
     width: 18em;
     height: 18em;
     position: fixed;
     z-index: 10;
     bottom: 0;
     left: 58%;
     margin-left: -200px;
     -webkit-transition: all .3s ease;
     transition: all .3s ease
 }
 
 .cn-wrapper:after {
     content: "";
     display: block;
     height: 8px;
     width: 8px;
     background-color: maroon;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -4px;
     margin-left: -4px;
     border-radius: 50%;
     z-index: 11
 }
 
 .cn-wrapper li {
     position: absolute;
     font-size: 1em;
     width: 10em;
     height: 10em;
     overflow: hidden;
     -webkit-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
     -webkit-transition: all 1s ease;
     transition: all 1s ease;
     color: #aaa;
     margin-top: -1.3em;
     margin-left: -10em;
     overflow: hidden;
 }
 
 .cn-wrapper li a {
     display: block;
     font-size: 1.2em;
     height: 13.5em;
     width: 13.5em;
     position: absolute;
     bottom: -6.75em;
     right: -6.75em;
     text-decoration: none;
     color: white;
     -webkit-transition: background-color .3s ease, -webkit-transform .8s ease;
     transition: background-color .3s ease, -webkit-transform .8s ease;
     transition: background-color .3s ease, transform .8s ease;
 }
 
 span {
     position: absolute;
     font-size: 1.3em;
     top: -12%;
     color: black;
     transform: rotate(3deg);
 }
 
 em {
     font-size: .8em;
     color: #888
 }